<app-encabezado></app-encabezado>

<router-outlet></router-outlet>

<hr>

<h1>
  {{title}}
</h1>

<app-colores></app-colores>
<app-colores></app-colores>
<app-colores></app-colores>
<app-colores></app-colores>
<app-colores></app-colores>
<app-colores></app-colores>

<h1>MOSTRAR U OCULTAR CON *NGIF / ELSE</h1>
<div class="textos">
  <div class="contenedor">
    <div *ngIf="valor1">
      <h1> Texto 1</h1>
      <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore sunt incidunt quo ut optio natus quam est velit minima aliquam aut recusandae totam a vitae, error neque! Accusantium, assumenda nostrum?</p>
  
    </div>
  </div>
  
  <div class="contenedor">
    <div *ngIf="valor2 ; else otroTexto">
      <h1> Texto 2</h1>
      <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore sunt incidunt quo ut optio natus quam est velit minima aliquam aut recusandae totam a vitae, error neque! Accusantium, assumenda nostrum?</p>
    </div>
    <ng-template #otroTexto>
      <h1>OTRO TEXTO</h1>
      <p>Esto es otro texto.... Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus alias beatae commodi quas cum sapiente, corporis omnis laborum consectetur eaque quaerat dicta accusamus reiciendis officia ea. Ducimus maiores libero temporibus!</p>
    </ng-template>
  </div>
</div>

<hr>

<button (click)="valor1 = !valor1">Texto 1</button>
<button (click)="valor2 = !valor2">Texto 2</button>

<hr>

<p>Valor1: {{valor1}}</p>
<p>Valor2: {{valor2}}</p>
<br>
<br>

<h1>NGSWITCH Y NGMODEL</h1> <!-- Es necesario importar en app.module.ts import { FormsModule} from '@angular/forms'; -->
<h2>Organizador de tareas</h2>

<div [ngSwitch]="diasSemana">
  <p class="item" *ngSwitchCase="'lunes'">Tomar café y trabajar.</p>
  <p class="item" *ngSwitchCase="'martes'">No correr y evitar barcos.</p>
  <p class="item" *ngSwitchCase="'miércoles'">Sobrvivir al día más largo de la semana.</p>
  <p class="item" *ngSwitchCase="'jueves'">Pensar que es viernes.</p>
  <p class="item" *ngSwitchCase="'viernes'">Tomar cerveza.</p>
  <p *ngSwitchDefault>Elije un día de la semana para conocer tu destino.</p>
</div>

<input type="text" [(ngModel)]="diasSemana" />
<br>
<br>

<h1>NGSTYLE Y NGCLASS</h1>
<h2>Estilos</h2>

<div class="cuadrado" [ngStyle]="{'background':colorCuadrado ? colorCuadrado : 'orange'}"></div>

<hr>
<p>Con ngStyle</p>
<button (click)="colorCuadrado= 'red'">Rojo</button>
<button (click)="colorCuadrado= 'green'">Verde</button>
<hr>
<p>Con ngClass</p>
<button (click)="colorCuadrado= 'red'" [ngClass]="{'activo': colorCuadrado == 'red'}">Rojo</button>
<button (click)="colorCuadrado= 'green'">Verde</button>
<br>
<br>

<h1>LISTAS CON NGFOR</h1>
<br>

<ul>
  <li *ngFor="let libro of libros ; index as indice ; first as esPrimero ; last as esUltimo ; odd as esPar ; even as esImpar">
    <!-- <a href="http://google.com/search?q={{libro.autor}}" target="_blank"> {{libro.titulo}}  - {{libro.autor}} </a> -->
    <a (click)="mostrarAutor(libro)">(pinchar) {{libro.titulo}}  - {{libro.autor}} </a>
    <span *ngIf="indice == 2">Destacado por indice</span>
    <span *ngIf="esPrimero">Destacado por primero</span>
    <span *ngIf="esUltimo">Destacado por último</span>
    <!-- <span *ngIf="esPar">Destacado por ser par</span>
    <span *ngIf="esImpar">Destacado por ser impar</span> -->
  </li>
</ul>
<br>
<hr>
<br>
<ul>
  <li *ngFor="let libro of libros ; index as indice ; first as esPrimero ; last as esUltimo ; odd as esPar ; even as esImpar">
    <a href="http://google.com/search?q={{libro.autor}}" target="_blank"> {{libro.titulo}}  - {{libro.autor}} </a>
    <span *ngIf="indice == 2">Destacado por indice</span>
    <span *ngIf="esPrimero">Destacado por primero</span>
    <span *ngIf="esUltimo">Destacado por último</span>
    <!-- <span *ngIf="esPar">Destacado por ser par</span>
    <span *ngIf="esImpar">Destacado por ser impar</span> -->
  </li>
</ul>
<br>
<br>

<h1>xxxx</h1>
<br>